apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: connections.vertx.henneberger.dev
spec:
  group: vertx.henneberger.dev
  names:
    kind: Connection
    plural: connections
    singular: connection
    shortNames:
      - vxc
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              required:
                - host
                - database
                - user
              properties:
                host:
                  type: string
                port:
                  type: integer
                  default: 5432
                database:
                  type: string
                user:
                  type: string
                password:
                  type: string
                passwordSecretRef:
                  type: object
                  properties:
                    name:
                      type: string
                    key:
                      type: string
                ssl:
                  type: boolean
                  default: false
                pool:
                  type: object
                  properties:
                    maxSize:
                      type: integer
                      minimum: 1
                    maxWaitQueueSize:
                      type: integer
                      minimum: 1
                    idleTimeoutSeconds:
                      type: integer
                      minimum: 1
                    connectionTimeoutSeconds:
                      type: integer
                      minimum: 1
                replicas:
                  type: integer
                  default: 1
                servicePort:
                  type: integer
                  default: 8080
                image:
                  type: string
