apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: flinkpythonfunctions.dev.henneberger
spec:
  group: dev.henneberger
  names:
    kind: FlinkPythonFunction
    plural: flinkpythonfunctions
    singular: flinkpythonfunction
    shortNames:
      - fpy
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              required:
                - function
              properties:
                requirements:
                  type: object
                  properties:
                    inline:
                      type: string
                function:
                  type: object
                  required:
                    - name
                    - module
                  properties:
                    name:
                      type: string
                    module:
                      type: object
                      required:
                        - inline
                      properties:
                        inline:
                          type: string
