apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: flinkcatalogs.dev.henneberger
spec:
  group: dev.henneberger
  names:
    kind: FlinkCatalog
    plural: flinkcatalogs
    singular: flinkcatalog
    shortNames:
      - fcat
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              required:
                - sql
              properties:
                sql:
                  type: string
            status:
              type: object
      subresources:
        status: {}
