apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: duckdbconnections.vertx.henneberger.dev
spec:
  group: vertx.henneberger.dev
  names:
    kind: DuckDBConnection
    plural: duckdbconnections
    singular: duckdbconnection
    shortNames:
      - vxdc
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              required:
                - database
              properties:
                database:
                  type: string
                settings:
                  type: object
                  additionalProperties:
                    type: string
