apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: dynamodbconnections.vertx.henneberger.dev
spec:
  group: vertx.henneberger.dev
  names:
    kind: DynamoDbConnection
    plural: dynamodbconnections
    singular: dynamodbconnection
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              required:
                - region
              properties:
                region:
                  type: string
                endpoint:
                  type: string
                accessKey:
                  type: string
                secretKey:
                  type: string
                accessKeySecretRef:
                  type: object
                  properties:
                    name:
                      type: string
                    key:
                      type: string
                secretKeySecretRef:
                  type: object
                  properties:
                    name:
                      type: string
                    key:
                      type: string
