apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: ingestionendpoints.vertx.henneberger.dev
spec:
  group: vertx.henneberger.dev
  names:
    kind: IngestionEndpoint
    plural: ingestionendpoints
    singular: ingestionendpoint
    shortNames:
      - vxie
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              required:
                - connectionRef
                - schemaRefs
                - path
                - topic
              properties:
                connectionRef:
                  type: string
                schemaRefs:
                  type: array
                  items:
                    type: string
                path:
                  type: string
                method:
                  type: string
                contentType:
                  type: string
                maxBodyBytes:
                  type: integer
                requireJson:
                  type: boolean
                topic:
                  type: string
                partitionKeyField:
                  type: string
                jsonSchemaRef:
                  type: string
                addFields:
                  type: array
                  items:
                    type: object
                    required:
                      - name
                      - type
                    properties:
                      name:
                        type: string
                      type:
                        type: string
                responseCode:
                  type: integer
                responseContentType:
                  type: string
                responseFields:
                  type: array
                  items:
                    type: string
