apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: jsonschemas.vertx.henneberger.dev
spec:
  group: vertx.henneberger.dev
  names:
    kind: JsonSchema
    plural: jsonschemas
    singular: jsonschema
    shortNames:
      - vxjs
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              required:
                - schema
              properties:
                description:
                  type: string
                schema:
                  type: object
                  x-kubernetes-preserve-unknown-fields: true
